<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCk_PVIwJ5o4EI3tmime7DncNXZumTchic</string>
	<key>GCM_SENDER_ID</key>
	<string>508276780092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ben.Image-Picker-Demo</string>
	<key>PROJECT_ID</key>
	<string>fir-storage-demo-8870d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-storage-demo-8870d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508276780092:ios:01ff7167f220425f4b2739</string>
</dict>
</plist>